# Exploratory Data Analysis

In [ ]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading

In [ ]:
data = datasets.load_iris(as_frame=True)
df = data.frame
df.to_parquet("../Data/raw_data.parquet")

## Data Overview

In [20]:
print(df.shape)
df.info()

(150, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [19]:
df.describe()

       sepal length (cm)  sepal width (cm)  ...  petal width (cm)      target
count         150.000000        150.000000  ...        150.000000  150.000000
mean            5.843333          3.057333  ...          1.199333    1.000000
std             0.828066          0.435866  ...          0.762238    0.819232
min             4.300000          2.000000  ...          0.100000    0.000000
25%             5.100000          2.800000  ...          0.300000    0.000000
50%             5.800000          3.000000  ...          1.300000    1.000000
75%             6.400000          3.300000  ...          1.800000    2.000000
max             7.900000          4.400000  ...          2.500000    2.000000

[8 rows x 5 columns]

## Data Cleaning

In [16]:
print(df.isna().sum())
df[df.isna().any(axis=1)]

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
type_iris            0
dtype: int64

Empty DataFrame
Columns: [sepal length (cm), sepal width (cm), petal length (cm), petal width (cm), type_iris]
Index: []

In [21]:
df.rename(columns={"target": "type_iris"}, inplace=True)

In [22]:
type_iris = {
    0: "setosa",
    1: "versicolor",
    2: "virginica"
}

In [ ]:
df["type_iris"] = df["type_iris"].map(type_iris)

In [23]:
df.to_parquet("../Data/clean_data.parquet")

## Univariate Analysis

## Multivariate Analysis

## Conclusions